
* {
    margin: 0;
    padding: 0; 
    list-style: none; 
    color:#424242;   
    font-family: Arial, Helvetica, sans-serif;     
}

a{
    text-decoration:none;
    color: #3c3c3c;
}

img{
    border: none;
    vertical-align: middle; 

}

i{
    font-style: normal;
}

button{
    outline: none;
}

body{
    font: 12px;
    line-height: 200%;
    color: #3c3c3c;
    background-color: #f4f4f4;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* idea of component */

.leayer{
    width: 1190px;
    margin: 0 auto;
}

/* now below is the idea of tailwindcss  */

.c4{
    color: #f40;
}

.mt10{
    margin-top: 10px;
}

.mr10{
    margin-right: 10px;
}