
@import './reset.css';

@font-face {
    font-family: "icon";
    src: url(../image/icon/star.svg);
}

.icon{
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;

}

#headMessage li{
    float: left;
    line-height: 35px;
    padding: 0 6px; 
    font-size: 0; 
    /* so cannot see the "0" in strong tag */
}

#headMessage a{
    
    color:#6c6c6c;
    font-size: 16px; 

}

#headMessage a:hover{
    color: #f22e00;
}

#headMessage a.login{
    color: #f22e00;
}

#headMessage li strong{
    font-size:16px;
    color: #f22e00;
}

#headMessage li.line{
    color: #083dea;
    font-size: 8px;
    margin: 0 5px;
}




/* 头部广告 */
#headAd{
    background-color: #f12f04;
    border: 2px solid black;

}

#headAd .go{
    display: block;
    padding: 10px 5px 10px 40px;

}

#headAd .go img{
    width: 100px;
    height: 80px;

}

#headAd div{
    margin-top: 5px;

}

#headAd ul{
    /* float: right; */
    /* border: 2px solid black; */
    /* padding-top: 10px; */
    padding-right: 10px;
}

#headAd ul li {   
    border-radius: 30px;
    float: left;
    width: 209px;
    /* border: 2px solid black; */
    height:75px;
    margin-right: 10px;
    
    /* padding: 100px; */
    box-sizing: border-box;
    padding: 12px 15px 0 15px;
}

#headAd ul li:hover{
    padding: 10px;
}

#headAd ul li a{
    color: rgb(72, 125, 217);
    /* display: block; */ 

}

#headAd ul li a#text{
    display: block;
}

#headAd ul li p{
    font-size: 14px;
    line-height: 20px;

}

#headAd ul li a img{ 
    width: 52px;
    height:52px;
    border-radius: 5px;

}

#headAd ul li h3{
    font-size: 20px;
    line-height: 28px;

}

#headAd .item{
    border: 1px solid black;
    border-radius: 50%; 
}

#headAd li.item1{
    background-color: aqua;
    margin: 10px; 

}
#headAd li.item2{
    background-color: orange;
    margin: 10px;

}#headAd li.item3{
    background-color: pink;
    margin: 10px;


}#headAd li.item4{
    background-color: greenyellow;
       margin: 10px;



}#headAd li.item5{
    background-color: violet;
    margin: 10px;


}


/* top-search */

 #headSearch{
    background-color: #fff;  
    padding: 24px 0 10px 0;
 }
 
 #headSearch h1 a{
    display: block;
    margin-top: 8px;

    width: 100px;
    height: 80px; 
    padding: 10px 5px 10px 40px; 
    background: url(../image/coffeedog.png);
    background-size: 100% 100%;
    text-indent: -9999px;
 }
 
 #headSearch .code{
    width: 72px;
    height: 86px;
    border: 2px solid #eee;
    position: relative;
    margin-right: 110px;
    text-align: center;

 }

  #headSearch .code span{ 
    font-size: 11px; 
  }


 #headSearch .code img{
    width: 62px;
    height: 62 px;
 }

 #headSearch .search{
    width: 700px;
    margin: 0 auto;
    /* border: 2px solid black; */
    

 }

 #headSearch .searchTab{
   height: 22px; 
   padding-left: 17px;


 }

 #headSearch .searchTab li{
    float: left;
    width: 36px;
    line-height: 22px; 
    margin-right: 4px;
    text-align: center;
    cursor: pointer;

    
    color: #f40; 
 }

 #headSearch .searchTab li:hover{
    background-color: #ffeee5; 
 }  

 #headSearch .searchTab li.active{
    background-color: pink;
    color: #fff;
    font-weight: bold;

    background-image: linear-gradient(to right, #ff9000, #ff5000);
    

    border-radius: 6px 6px 0 0;
}

#headSearch .seachContent{
    height: 44px; 


}

#headSearch .searchBox{
    width: 545px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ff5000;
    border-right: none;
    border-radius: 20px 0 0 20px;
   padding-left: 10px;
   

    position: relative; 
}

#headSearch .searchBox input{ 
    width: 470px;   
    height: 36px;
    line-height: 36px; 
    outline: none;
    border: none;
    text-indent: 10px; 

    color: #f12f04;
    vertical-align: -1px;
}

#headSearch .seachContent button{
    width: 74px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #ff9000, #ff5000);

    border-radius: 0 20px 20px 0;
}

#headSearch .hotKey{
    height: 25px;
    line-height: 25px; 
}

#headSearch .hotKey a:hover{
    color: #f50;
}

#nav{ 
    height: 30px;
    color: #083dea;  
}

#nav h2{
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #f50;

    /* border: 2px solid black; */

}

#nav ul{
    margin-left: 190px;
    height: 30px; 
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    


}

#nav ul li{
    float: left;
    line-height: 30px;
    margin: 0 7px;
    color: #fff;
    font-size: 14px; 
    position: relative; 

    padding: 0 5px;
}

#nav ul li.size{
    font-size: 16px;
}

#nav ul li a{
    color: #fff;
    font-weight: bold; 
}

#nav ul li.line{
    margin: 0;
}

#nav ul li:hover::before{
    content: "";
    position: absolute;
    background-image: url(../image/icon/alarm-fill.svg); 
    background-repeat: no-repeat;
    background-size: 100%;
    top: -13px;
    left: 50%;
    margin-left: -12px; 
    display: block; 


    width: 23px;
    height: 33px;
}
 

 /* main content area 首屏内容 */



 /* 左边的内容  */
.firstLeft{
    width: 890px;
    height: 621px;

    background: #f50;
}

 /* 侧边导航 */

 .firstLeft .sideNav{
    width: 190px;
    height: 522px;
    background: #ddd;
    border: 1px solid #ff5500;
    box-sizing: border-box;
    border-top: none;

    padding-top: 5px;
 }

 .firstLeft .sideNav li{
    height: 32px;
    line-height: 32px;
    padding-left: 25px; 
    
    transition: background-color 0.3s;
 }

 .firstLeft .sideNav li:hover{
    background-color: #ffe4dc;
    color: #f50;

 }

  .firstLeft .sideNav li a:hover{ 
    color: #f50;

 }

.firstLeft .sideNav li a{
    font-size: 14px;
}

 /* 图片1容器 */
.img1Box{
    width: 690px;
    height: 282px;
    background: #eee ;
}

 /* 图片2容器 */
.img2Box{
    width: 690px;
    height: 230px;
    background: #ccc;
    padding-top: 10px;
}


 /* 右边的内容 */

 .firstRight{
    width: 610px;
    height: 621px;
    background: #6c6c6c;
 }

 /* 淘宝头条 */

 .news{
    width: 890px;
    height: 100px;
    background: #999;
 }

 