
@import './reset.css';

@font-face {
    font-family: "icon";
    src: url(../image/icon/star.svg);
}

.icon{
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;

}

#headMessage li{
    float: left;
    line-height: 35px;
    padding: 0 6px; 
}

#headMessage a{
    
    color:#6c6c6c;

}

#headMessage a.login{
    color: #f22e00;
}

/* 
.ahdft::before{
    display: inline-block;
    background-image: url(../image/icon/star.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


#headMessage{ 
    height:30px;
    border: 1px solid black;


    content:"";
    display:block;
    clear:both;
 
    
}

#headMessage .topleft .topleftlist{
    float: left;
    margin: 0 10px;
    line-height: 30px;
 
}


#headMessage .topright .toprightlist{
    float: right;
    margin: 0 10px;
    line-height: 30px;

 
}

.topright{
    width:1400px;
    margin: 0 auto;
    border: 1px solid black;

}

.topleft{
    width:1400px;
    margin: 0 auto;
    border: 1px solid black;

}
  */

