
* {
            margin: 0;
            padding: 0; 
        }
        
        a {
            text-decoration: none;
        }

        .nav {
            /* position: absolute; */
            list-style: none;
            border: 2px solid #424242;
        
            /* padding:2px;
            border-radius: 25px;
            background-color: tomato; */
            
        }

        .nav::after {
            content: "";
            display: block;
            clear: both;
        }

        .nav .item {
            float: left;
            margin:0 10px;
            color: white;
            height: 30px;
            line-height: 30px;  
            
        }





        
        
        .nav .item a {
            color: #f40;
            font-weight: bold;
            height: 30px;
            display: inline-block;
            padding: 0 6px;
            border-radius: 15px;


        }
    
        .nav .item a:hover {
            color: white;
            background-color: #f40;
        }

        .wrapper{
        height: 30px; 
        background-color: #123;
    }
    .content{
        margin:0 auto;
        width: 1200px;

        height: 30px;
        background-color: #0f0;
    }
















    .alibaba{  
        width: 320px;
        height: 100px;
        border: 2px solid black;
    }

    .alibaba:hover{
        width: 400px;
    }

    
 

    img{
            float: left;
        }

   .biaoti{
    line-height: 20px;
    margin-bottom: 8px;
    font-size: 20px;
    max-height: 40px;
    overflow: hidden;
    color: #333;
   }

   .neirong{
    line-height: 1.2em;
    font-size: 8px; 
    overflow: hidden;
    color: #666;
    height: 3.6em;
   }

    img{ 
        display: block;
        width: 100px;
        height: 100px;
    }